omegaconf>=2.3.0
h5py
huggingface-hub>=0.30.0,<1.0
numpy<2
pandas
pillow
tqdm
wandb
torch>=2.3,<2.8
torchvision>=0.18.0
opencv-python
wholeslidedata<0.0.16
timm>=1.0.3
einops>=0.8.0
einops-exts>=0.0.4
transformers>=4.53
sacremoses
environs
xformers>=0.0.31
matplotlib

## Hibou
scipy~=1.8.1
scikit-image~=0.19.3

## MUSK & CONCH
git+https://github.com/lilab-stanford/MUSK.git
git+https://github.com/Mahmoodlab/CONCH.git

## gigapath
torchmetrics>=0.10.3
fvcore
iopath
webdataset
scikit-survival
scikit-learn
fairscale
packaging==23.2
ninja==1.11.1.1
psutil<6
