omegaconf
h5py
huggingface-hub>=0.30.0,<1.0
numpy<2
pandas
pillow
tqdm
wandb
torch
torchvision
opencv-python
wholeslidedata<0.0.16
timm
einops
einops-exts
transformers
sacremoses
environs
xformers>=0.0.26
matplotlib