omegaconf
h5py
huggingface-hub
numpy<2
pandas
pillow
tqdm
wandb
torch>=2.3,<2.8
torchvision
opencv-python
wholeslidedata<0.0.16
timm
einops==0.8.0
einops-exts==0.0.4
transformers~=4.53.0
sacremoses==0.1.1
environs==11.0.0
xformers==0.0.31
matplotlib