typer
omegaconf
h5py==3.8.0
huggingface-hub
numpy==%NUMPY_VERSION%
pandas==2.2.3
pillow
tqdm==4.66.6
matplotlib
scikit-learn==1.5.2
wandb
torch==%PYTORCH_VERSION%
torchvision==%TORCHVISION_VERSION%
opencv-python==4.4.0.46
wholeslidedata
timm==1.0.3
einops==0.6.1
einops-exts==0.0.4
transformers==4.46.0
